@import './variables.scss';

// GLOBAL
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
body {
  background: white;
}

#root {
    background:$colour-pink;
    height: 100vh;
}

.main {
  text-align: center;
  
  background: url(../assets/top-bg.svg) no-repeat;
  background-size: cover;
  background-position: top;

    .title {        
        text-align: right;
        width: 60%;
        margin: auto;
        top: 100px;     
        display: inline-block;
        position: relative;   
    
        h1  {
            color: $colour-blue;
            font-family: $font-primary;
            right: 0;
        }
        p {
            width: 230px;
            color: white;
            font-family: $font-secondary;
            position: absolute;
            right: 0;
            margin: 0;
        }
    }
}
.bottom {
    background: url(../assets/bottom-bg-2.svg) no-repeat;
    background-size: cover;
    background-position: bottom;
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 999;
    bottom: 0;
    pointer-events: none;

    p {
        position: absolute;
        right: 50px;
        bottom: 0px;
        color: $colour-blue;
        opacity: .3;
    }
}


.container {
  text-align: center;
  width: 50%;
  margin: auto;  
  margin-top: 300px;
}
.controls,.bill {
  background: white;
  border-radius: 50px;
  border: none;  
}
.controls {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;  
    position: relative;    
    overflow: hidden;
}
.disabled {
    opacity: .5 !important;
    pointer-events: none;
}

.edit {
    position: absolute;
    line-height: normal;
    font-size: 20px;
    background: $colour-blue-light;
    color: white;
    margin: 10px 0 0 -30px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    user-select: none;    
    transition: .2s ease;

    &:hover, &.active{
        background-color: $colour-blue;
    }
}

// ENTRY
.entry-bar {
    position: relative;  
    margin-bottom: 25px;

    .entry-field {
        width: 100%;
        height: 80px;
        background: $colour-green-light;
        background: linear-gradient(106deg, $colour-green-dark 0%, $colour-green-dark 15%, $colour-green-light 15%);
        background: url(../assets/controls-bg.svg), linear-gradient(106deg, $colour-green-dark 0%, $colour-green-dark 15%, $colour-green-light 15%);
        background-size: cover;
        

        .edit {
            font-weight: bold;            
            -webkit-user-select: none;
            transition: .2s ease;
        }

    }

    .money {
        color: $colour-blue;    
        font-size: 24pt;    
        font-weight: $font-weight-semibold;
        display: inline-block;
        position: relative;
        line-height: 1;
        left: 20px;
    }

    .entry {
        border: none;
        border: none;
        border-bottom: 3px dashed $colour-blue;
        border-radius:0px;    
        display: inline-block;    
        box-sizing: content-box;
        width: 30%;
        min-width: 300px;  
        padding: 12px 10px 5px 15px;
        margin: 0;
        line-height: 1;
        text-align: center;
        font-size: 24pt;
        color: $colour-blue;    
        font-weight: $font-weight-semibold;
            
        &::placeholder {
            font-family: $font-secondary;
            color: $colour-blue;
            opacity: .5;
        }

        &:hover, &:active, &:focus {
            border: none;
            border-bottom: 3px dashed $colour-blue;   
            box-shadow:none; 
        }
    }

    .reset {
        position: absolute;
        right: 0;
    }
}
div.people {    
        height: 3rem;
        width: 80px;
        height: 80px;
        border-radius: 80px;
        background: $colour-yellow;
        color: white;    
        position: absolute;
        left: -50px;
        top: 100px;    
        z-index: 1;    
        cursor: cell;

    input {
        color: white;
        border: none;
        border-radius:0px;
        text-align: center;
        width: 100%px;
        margin: 0;
        font-size: 20px;
        font-weight: $font-weight-bold;

        &::placeholder {
            font-family: $font-secondary;
            color: white;
            opacity: .5;
        }

        &:hover, &:active, &:focus {
            border: none;
            box-shadow:none; 
            outline: 0;
        }
    }
    &:hover, &:active, &:focus {        
        outline: 0;
        transform: scale(1.1);
    }

    p {margin-top: -15px;}
}

// TIP CONTROLS
.tips {
    position: relative;
    height: 150px;
    z-index: 0;

    button {
        background: transparent;
        color: white;    
        opacity: .5;
        border-radius: 30px;
        border: none;
        height: 70px;
        padding: 12px 20px;
        margin: 10px;
        display: inline-block;
        line-height: 1;
        vertical-align: middle; 
        -webkit-user-select: none;
        transition: .2s ease;

        &:nth-child(1){background: $colour-yellow;}
        &:nth-child(2){background: $colour-green-dark;}
        &:nth-child(3){background: $colour-blue;}
        &:nth-child(4){background: $colour-pink;
            &.active {background: $colour-red;opacity: 1;}
            &:hover {background: $colour-red;opacity: .7;}
        }
        &:nth-child(5){background: $colour-yellow;}        
        &:focus {outline: 0;}
        &:hover {opacity: .7;transform: scale(1.1);}
        &.active {opacity: 1;transform: scale(1.1);}
    }  

    .slider {
        color: $colour-green-dark;
        width: 50%;
        margin: auto;
        margin-top: 20px;
        display: block;        
        transition: .2s ease;

        &.hidden {
            opacity: 0;   
            pointer-events: none;
        }
    }

}

// TIP DISPLAY
.bill {
    border-radius: 300px;
    height: 300px;
    width: 300px;
    padding: 30px;
    margin: auto;
    font-family: $font-secondary;
    position: relative;
    z-index: 1;

    &::before{
        content: ' ';
        background: url(../assets/bill-bg.svg) no-repeat;
        background-size: cover;
        z-index: -1;
        position: absolute;
        mix-blend-mode: color;
        height: 100%;
        width: 100%;
        left: -80px;
        top: -40px;
        display: block;
    }

    .total, .each, .bill-display {
        position: relative;
        padding: 5px;
        transition: .2s ease;

        h1{
            color: $colour-blue;
            margin-top: 10px;
        }
    }

    .tip {
        font-size: $font-size-lg;
    }
    .final {
        font-size: $font-size-xl;
    }
    .toggle {  
        border: 0;
        border-radius: 15px;
        height: auto;
        font-size: $font-size-xs;
        font-weight: $font-weight-semibold;
        text-transform: lowercase;
        color: white;
        line-height: 1;
        padding: 2px 10px;
        margin: 0;    
        opacity: .7;
        position: absolute;
        bottom: 25px;
        right: 45px;
        cursor: pointer;        
        -webkit-user-select: none;

        &:hover, &:active, &:focus {
            opacity: 1;
        }
    }

    .nearest {
        background: $colour-green-fade;
        border: none;
        border-radius: 20px;
        text-transform: lowercase;
        color: white;
        position: absolute;
        right: 0;    

        &:hover, &:active, &:focus {
            outline: 0;
        }
        &.active {
            background: $colour-green-dark;
        }
    }

}

@media (max-width: 1315px) {

    .tips {
        height: auto;
        button {
            height: auto;
            width: auto;
        }
    }
    .entry-field {
        input {
            width: 100%;
            min-width: 0;
            margin: 0;
            padding: 12px 0px
        }
        input::placeholder {
            font-size: $font-size-sm;
            text-align: center;
        }
    }
}

@media (max-width: 800px) {
    .container {
        width: 100%;
    }
    
    .bottom, .main, #root {
        height: auto;
    }

}

@media (max-width: 450px) {
    .title {
        font-size: 80%;
    }
    .container {
        margin-top: 100px;
    }
    .bottom {
        display: none;
    }
}