// colour def
$colour-pink: #FEB1B1;
$colour-red: #F34040;
$colour-blue: #0F1AB4;
$colour-blue-light: #818eda;
$colour-green-light: #93F8C2;
$colour-green-dark: #78C4AB;
$colour-green-fade: #bce1d5;
$colour-yellow: #FFBB36;

$font-primary: 'Libre Baskerville', serif;
$font-secondary: 'Segoe UI';

$font-weight-bold: 800;
$font-weight-semibold: 500;

$font-size-xs: 12pt;
$font-size-sm: 18pt;
$font-size-md: 20pt;
$font-size-lg: 24pt;
$font-size-xl: 50pt;