.App {
  width: 100%;
  
  text-align: center;
}

.user-area {
  float: left;
  * {
    display: inline-block;
    max-height: 100px;
    margin: 0 20px;
    vertical-align: middle;
  }

}
.mainContainer {
  max-width: 80%;
  margin: auto;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.column {
  box-sizing: border-box;
  flex:1;

  table {
    width: 80%;
    margin: auto;
    *{
      border: none;
    }
    input {
      border: 1px solid grey;
    }
  }
}
